.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*
**/*.ts
!dist/**/*.js
!dist/**/*.map
!out/bin/**
.git/**
coverage/**
scripts/**
